.products-list {
    margin: 5em auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    place-content: center;
    column-gap: 6%;
    row-gap: 3em;
}

.products-list-item {
    border: 1px solid #47060e;
    border-radius: 0.5em;
    box-shadow: 2px 2px 10px #47060e;
    width: 100%;
    height: 90%;
    overflow: hidden;
    transition: scale 0.5s;
    background-color: #ede5df;
}

.products-list-item:hover {
    /* box-shadow: 2px 2px 20px #47060e; */
    scale: 1.2;
}

.products-item-img {
    height: 60%;
    width: 90%;
    margin-top: 10px;
    border: 1px solid white;
    box-shadow: 0 0 10px 10px white;
}

.product-list-item-link {
    text-decoration: none;
}

/* **************************************************** */

.single-product-wrapper {
    margin: 1em auto;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    gap: 10em;
    align-items: flex-start;
}

.single-img {
    transition: scale 0.5s;
    border-radius: 0.5em;
    max-width: 50%;
    height: auto;
    max-height: 600px;
    box-shadow: 0 0 20px 8px white;
}

.single-img:hover {
    scale: 1.4;
}

.from-five {
    opacity: 0.5;
}

.product-rating {
    font-size: 1.5em;
}

.add-to-cart {
    outline: none;
    border: none;
    border: 2px solid #47060e;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #f3d0b4;
    cursor: pointer;
    transition: scale 0.2s;
}

.add-to-cart:hover {
    outline: 1px solid #47060e;
}

.add-to-cart:active {
    scale: 0.95;
}
