.privacy-wrapper {
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: 2em;
    text-align: justify;
}

.privacy-wrapper h2,
.privacy-wrapper h4 {
    text-align: center;
}

.privacy-wrapper h4:first-child {
    margin-top: 1em;
}