.navbar {
    background-color: #ede5df;
    box-shadow: 0 4px 2px -2px #ede5df;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
}

.navbar-elements {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    width: 90%;
    align-items: center;
}

.svg-item {
    width: 50px;
}

.product-qnt {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    display: inline-block;
    border: 1px solid #47060e;
    border-radius: 50%;
    background-color: #f3d0b4;
    color: #47060e;
    height: 1.2em;
    aspect-ratio: 1/1;
    line-height: 1.2em;
    font-size: 1.2em;
    position: relative;
    bottom: 1em;
    padding: 2px;
}

.passion-fashion {
    font-family: "Times New Roman", Times, serif;
}

.passion-logo {
    width: 300px;
    box-shadow: 0 0 20px 20px #e6e6e6;
}
